.modal-input {
  background: url(../../images/asterisque-red.png) 98% center no-repeat;
}

.modal-input:focus:invalid {
  background-image: none;
}

.modal-input:focus:valid {
  background-image: url(../../images/asterisque-approbation.png);
}

.modal-input:valid {
  background-image: url(../../images/asterisque-approbation.png);
  background-color: lightskyblue;
}

label {
  color: #0275d8;
  font-weight: bold;
  font-size: 1rem;
}
