*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2,
h3,
h4,
h5,
h6,
.nav-item {
  text-align: center;
}

h2 {
  text-decoration: underline;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  padding: 10px 0;
  text-decoration: underline;
}

html {
  scroll-padding-top: 18rem;
}

.main-elem img {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

aside img {
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-box-shadow: 5px 0px 5px 5px red;
          box-shadow: 5px 0px 5px 5px red;
}

aside p {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
  font-style: arial;
}

.navbar-brand,
h2,
footer {
  font-family: "Playball", cursive, sans-serif;
}

.element-list {
  font-family: "Mukta", sans-serif;
}

.h1-index {
  font-family: "Faster One", cursive, sans-serif;
}

.btn-special {
  color: var(--dark-red);
  border: 1px solid var(--dark-red);
  background: black;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.special-border {
  border: 3px solid var(--dark-red);
}

.special-border-bottom {
  border-bottom: 3px solid var(--dark-red);
}

.special-border-gray {
  border: 10px solid white;
}

.ariane {
  z-index: 1000;
  border: 0 0 10px 10px;
  position: fixed;
  width: 100%;
  top: 5rem;
}

footer {
  margin-top: 3rem;
  font-size: 1.5rem;
  height: 12.5rem;
  background: black;
}

.navbar {
  background-color: black;
}

.element-menu {
  color: var(--dark-red);
}

.element-menu:hover {
  color: white;
}

.nav-item-color {
  color: white;
}

.nav-item-color:hover {
  color: var(--dark-red);
}

.nav-menu-list {
  background-color: black;
  opacity: 0.7;
}

.nav-logo {
  width: 5rem;
  height: 4rem;
  border: 1px solid lightgray;
}

.header-events {
  background: black;
  height: 12rem;
  border-radius: 0 0 15px;
  color: var(--dark-red);
  border-radius: 10px 10px;
}

.header-events div {
  position: relative;
  top: 8rem;
}

.main-events {
  margin-top: 2rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0d0103), color-stop(#2c2327), color-stop(#4c414a), color-stop(#6b6370), color-stop(#898799), color-stop(#8a879a), color-stop(#8a879a), color-stop(#8a879b), color-stop(#6f6372), color-stop(#52414c), color-stop(#342328), to(#180202));
  background-image: linear-gradient(to right bottom, #0d0103, #2c2327, #4c414a, #6b6370, #898799, #8a879a, #8a879a, #8a879b, #6f6372, #52414c, #342328, #180202);
}

#trombi {
  color: var(--dark-red);
  text-decoration: underline;
  font-size: 1.5rem;
}

.h4-oldevent {
  color: goldenrod;
  font-weight: bold;
  margin-top: 1rem;
  background: var(--dark-red);
  border: 1px solid black;
  -webkit-box-shadow: 0 0 2px 2px black;
          box-shadow: 0 0 2px 2px black;
  padding: 5px 0;
}

.slot {
  height: 30vh;
  border-radius: 10px;
  border: 3px solid black;
}

.slot:hover {
  -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

#slot1 {
  background: url(../../images/old_event1-800x600.png);
  background-position: center;
}

#slot2 {
  background: url(../../images/old_event2_800x600.png);
  background-position: center;
}

#slot3 {
  background: url(../../images/old_event3_800x600.png);
  background-position: center;
}

#slot4 {
  background: url(../../images/old_event4_800x600.png);
  background-position: top;
}

.header-index {
  background: url(../../images/background_dojo.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 20vh;
  margin-bottom: 40px;
}

.h1-index {
  color: var(--dark-red);
  font-size: 4rem;
  -webkit-animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.main-index,
#link-equipe {
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px 20px;
  -webkit-animation: color-change-2x 20s linear infinite alternate both;
  animation: color-change-2x 20s linear infinite alternate both;
}

.main-elem {
  padding: 20px 0;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

@-webkit-keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000;
    box-shadow: 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #8b0000, 2px 2px #8b0000, 3px 3px #8b0000, 4px 4px #8b0000, 5px 5px #8b0000, 6px 6px #8b0000, 7px 7px #8b0000, 8px 8px #8b0000;
    box-shadow: 1px 1px #8b0000, 2px 2px #8b0000, 3px 3px #8b0000, 4px 4px #8b0000, 5px 5px #8b0000, 6px 6px #8b0000, 7px 7px #8b0000, 8px 8px #8b0000;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

@keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000;
    box-shadow: 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000, 0 0 #8b0000;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #8b0000, 2px 2px #8b0000, 3px 3px #8b0000, 4px 4px #8b0000, 5px 5px #8b0000, 6px 6px #8b0000, 7px 7px #8b0000, 8px 8px #8b0000;
    box-shadow: 1px 1px #8b0000, 2px 2px #8b0000, 3px 3px #8b0000, 4px 4px #8b0000, 5px 5px #8b0000, 6px 6px #8b0000, 7px 7px #8b0000, 8px 8px #8b0000;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

.p-nextstep1,
.p-nextstep2,
.p-nextstep3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 6;
}

#firstname,
#lastname,
#mail,
#tel,
#msg {
  width: 90%;
}

#msg {
  height: 12vh;
}

:root {
  --dark-red: #8b0000;
}

.modal-input {
  background: url(../../images/asterisque-red.png) 98% center no-repeat;
}

.modal-input:focus:invalid {
  background-image: none;
}

.modal-input:focus:valid {
  background-image: url(../../images/asterisque-approbation.png);
}

.modal-input:valid {
  background-image: url(../../images/asterisque-approbation.png);
  background-color: lightskyblue;
}

label {
  color: #0275d8;
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    scroll-padding-top: 14rem;
  }
  .navbar-brand {
    font-size: 2rem;
  }
  #footer2 {
    padding-top: 7rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  aside p {
    font-size: 1rem;
  }
  .p-nextstep1,
  .p-nextstep2,
  .p-nextstep3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 15;
    letter-spacing: 2px;
  }
  .main-elem img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  h4 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  html {
    scroll-padding-top: 14rem;
  }
  .navbar-brand {
    font-size: 2rem;
  }
  aside img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  aside h3 {
    font-style: bold;
  }
  #footer2 {
    padding-top: 7rem;
  }
  .p-nextstep1,
  .p-nextstep2,
  .p-nextstep3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 10;
    letter-spacing: 2px;
  }
  .main-elem img {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  html {
    scroll-padding-top: 13rem;
  }
  .navbar-brand {
    font-size: 2rem;
  }
  aside h3 {
    font-style: bold;
  }
  h4 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    scroll-padding-top: 8rem;
  }
  .navbar-brand {
    font-size: 3rem;
  }
  #footer2 {
    padding-top: 8rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: bold;
  }
  aside p {
    font-size: 1rem;
  }
  .p-nextstep1,
  .p-nextstep2,
  .p-nextstep3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 20;
    letter-spacing: 2px;
  }
  .main-elem img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .element-menu {
    font-size: 1.5rem;
  }
  .ariane {
    top: 6rem;
  }
  .header-events {
    height: 13rem;
  }
  .header-events div {
    position: relative;
    top: 9rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */