// téléphone portable / BOOTSTRAP XS
@media (max-width: 575px) {
  html {
    scroll-padding-top: 18rem;
  }

  .main-elem {
    img {
      transform: scale(0.75);
    }
  }

  aside {
    img {
      transform: scale(0.75);
    }
  }
}
