// téléphone écran maxi et petites tablettes / BOOTSTRAP SM
@media (min-width: 576px) and (max-width: 767px) {
  html {
    scroll-padding-top: 13rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  .main-elem {
    img {
      transform: scale(0.75);
    }
  }

  aside {
    img {
      transform: scale(0.75);
    }
  }
}
