// téléphone écran maxi et petites tablettes / BOOTSTRAP SM
@media screen and (min-width: 576px) and (max-width: 767px) {
  .navbar-brand {
    font-size: 2rem;
  }

  aside {
    h3 {
      font-style: bold;
    }
  }

  h4 {
    font-size: 1.5rem;
  }
}
