// pc écrans maxi / BOOTSTRAP XL
@media screen and(min-width: 1200px) {
  html {
    scroll-padding-top: 8rem;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  #footer2 {
    padding-top: 8rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
  }

  aside {
    p {
      font-size: 1rem;
    }
  }

  .p-nextstep1,
  .p-nextstep2,
  .p-nextstep3 {
    @include nextstep(20);
    letter-spacing: 2px;
  }

  .main-elem {
    img {
      transform: scale(1.2);
    }
  }

  .element-menu {
    font-size: 1.5rem;
  }

  .ariane {
    top: 6rem;
  }
}
