// pc écrans mini-standar / BOOTSTRAP LG
@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    scroll-padding-top: 14rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }

  #footer2 {
    padding-top: 7rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
  }

  aside {
    p {
      font-size: 1rem;
    }
  }

  .p-nextstep1,
  .p-nextstep2,
  .p-nextstep3 {
    @include nextstep(15);
    letter-spacing: 2px;
  }

  .main-elem {
    img {
      transform: scale(1.2);
    }
  }

  h4 {
    font-size: 1.5rem;
  }
}
