// ********** PAGE RESET *********
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ******** SCROLLING CONFIG ***********

html {
  scroll-behavior: smooth;
}

// **********GLOBAL**********
h2,
h3,
h4,
h5,
h6,
.nav-item {
  text-align: center;
}

h2 {
  text-decoration: underline;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  padding: 10px 0;
  text-decoration: underline;
}

html {
  scroll-padding-top: 18rem;
}

.main-elem {
  img {
    transform: scale(0.75);
  }
}

aside {
  img {
    transform: scale(0.75);
  }
  p {
    font-size: 1.5rem;
  }
}
