// ********BUTTONS**********

.btn-special {
  color: var(--dark-red);
  border: 1px solid var(--dark-red);
  background: black;
}
.btn:hover {
  transform: scale(1.1);
}

// ****** BORDERS******
.special-border {
  border: 3px solid var(--dark-red);
}

.special-border-bottom {
  border-bottom: 3px solid var(--dark-red);
}

.special-border-gray {
  border: 10px solid white;
}
