// ********BOUTONS**********

.btn-special {
  color: var(--dark-red);
  border: 1px solid var(--dark-red);
  background: black;
}

// ****** BORDERS******
.special-border {
  border: 3px solid var(--dark-red);
}

.special-border-bottom {
  border-bottom: 3px solid var(--dark-red);
}

.special-border-gray {
  border: 10px solid white;
}

// ********SCALE UP / IMG TROMBINOSCOPE********

.img-scaleup:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
